In [1]:
import pandas as pd

In [5]:
menu = pd.read_excel("메뉴분할본.xlsx",header=0,index_col='Unnamed: 0')

In [6]:
menu.head()

                    1          2        3      4    5
0  해운대31cm해물칼국수 창원해운점  31cm해물칼국수   8,500원  해물칼국수  NaN
1  해운대31cm해물칼국수 창원해운점  31cm 해물파전  10,000원   해물파전  NaN
2  해운대31cm해물칼국수 창원해운점    조개전골(대)  39,000원   조개전골  NaN
3       마실밥상 창원마산합포구점        특선A  15,000원    NaN  NaN
4       마실밥상 창원마산합포구점        특선B  19,000원    NaN  NaN

In [7]:
point = pd.read_excel("음식점평점리뷰수.xlsx",header=0,index_col='Unnamed: 0')

In [8]:
point.head()

               0     1          2          3
0      푸라닭 마산월영점  4.43  방문자리뷰 152   블로그리뷰 25
1             금향  4.49  방문자리뷰 750  블로그리뷰 213
2  마실밥상 창원마산합포구점  4.20  방문자리뷰 310  블로그리뷰 254
3            스시혼  4.41  방문자리뷰 378  블로그리뷰 108
4        몬스터로스터스  4.55  방문자리뷰 451  블로그리뷰 354

In [15]:
point = point.rename({0:'음식점',1:'별점',2:'방문자리뷰',3:'블로그리뷰'},axis=1)

In [22]:
point['방문자리뷰'][0].split()[-1]

'152'

In [23]:
len(point['방문자리뷰'])

208

In [24]:
for i in range(len(point['방문자리뷰'])):
    point['방문자리뷰'][i] = point['방문자리뷰'][i].split()[-1]
    point['블로그리뷰'][i] = point['블로그리뷰'][i].split()[-1]

C:\Users\User\AppData\Local\Temp/ipykernel_11772/4210256193.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  point['방문자리뷰'][i] = point['방문자리뷰'][i].split()[-1]

In [27]:
point

               음식점    별점 방문자리뷰 블로그리뷰
0        푸라닭 마산월영점  4.43   152    25
1               금향  4.49   750   213
2    마실밥상 창원마산합포구점  4.20   310   254
3              스시혼  4.41   378   108
4          몬스터로스터스  4.55   451   354
..             ...   ...   ...   ...
203       청년피자 합포점  4.31    34     7
204         원탁가라오케  4.06    26     0
205     촌놈의짬뽕 합포구점  4.24    56     7
206           동네커피  4.49    82    11
207    아마스빈 창원경남대점  4.65   444     8

[208 rows x 4 columns]