In [1]:
import pandas as pd
import xlrd

In [2]:
# 데이터 불러오기
path=''
df_origin = pd.read_excel("../건강관리를 위한 음식 이미지/Info Table/통합 식품영양성분DB/통합 식품영양성분DB - v1.xlsx")

In [3]:
df = df_origin

In [4]:
df.columns

Index(['NO', 'DB군', '식품명', '식품대분류', '식품상세분류', '1회제공량', '내용량_단위', '총내용량(g)',
       '총내용량(mL)', '에너지(㎉)', '단백질(g)', '지방(g)', '탄수화물(g)', '총 식이섬유(g)',
       '콜레스테롤(㎎)'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52940 entries, 0 to 52939
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   NO         52940 non-null  int64
 1   DB군        52940 non-null  object
 2   식품명        52940 non-null  object
 3   식품대분류      52940 non-null  object
 4   식품상세분류     52940 non-null  object
 5   1회제공량      52940 non-null  float64
 6   내용량_단위     51912 non-null  object
 7   총내용량(g)    52940 non-null  object
 8   총내용량(mL)   52940 non-null  object
 9   에너지(㎉)     52940 non-null  object
 10  단백질(g)     52940 non-null  object
 11  지방(g)      52940 non-null  object
 12  탄수화물(g)    52940 non-null  object
 13  총 식이섬유(g)  52940 non-null  object
 14  콜레스테롤(㎎)   52940 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 6.1+ MB

In [6]:
# (행,열) 크기 확인
df.shape

(52940, 15)

In [7]:
# 인덱스 지정 행 삭제
#df = df.drop([0,1],axis=0)

In [8]:
# 첫 번째 행을 column으로 지정
#df = df.rename(columns=df.iloc[0])
#df = df.drop(df.index[0])

In [14]:
df.head(5)

,NO,DB군,식품명,식품대분류,식품상세분류,1회제공량,내용량_단위,총내용량(g),총내용량(mL),에너지(㎉),단백질(g),지방(g),탄수화물(g),총 식이섬유(g),콜레스테롤(㎎)
0,1,음식,꿩불고기,구이류,육류구이,500.0,g,-,-,368.8,33.5,8.5,39.7,9.8,106.18
1,2,음식,닭갈비,구이류,육류구이,400.0,g,-,-,595.61,45.9,25.8,44.9,11.6,193.4
2,3,음식,닭갈비,구이류,육류구이,300.0,g,-,-,558.47,45.5,31.6,23.1,6.6,217.67
3,4,음식,닭꼬치,구이류,육류구이,70.0,g,-,-,176.723,11.562,8.565,13.348,2.072,31.444
4,5,음식,더덕구이,구이류,채소류구이,100.0,g,-,-,184,3.1,5.2,31.1,6.8,0.12

In [7]:
df.columns

Index(['NO', 'DB군', '식품명', '식품대분류', '식품상세분류', '1회제공량', '내용량_단위', '총내용량(g)',
       '총내용량(mL)', '에너지(㎉)', '단백질(g)', '지방(g)', '탄수화물(g)', '총 식이섬유(g)',
       '콜레스테롤(㎎)'],
      dtype='object')

In [11]:
# 열 삭제
#df.drop(['발행기관','성분표출처','연도'],axis=1)

In [12]:
# 특정 열 추출
#df_class = df[['DB군','식품명','식품대분류','식품상세분류','에너지(㎉)','단백질(g)','지방(g)','탄수화물(g)','총 식이섬유(g)','콜레스테롤(㎎)']]

In [17]:
df[df['식품대분류']=='과자류'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 216 entries, 286 to 6784
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   NO         216 non-null    int64
 1   DB군        216 non-null    object
 2   식품명        216 non-null    object
 3   식품대분류      216 non-null    object
 4   식품상세분류     216 non-null    object
 5   1회제공량      216 non-null    float64
 6   내용량_단위     216 non-null    object
 7   총내용량(g)    216 non-null    object
 8   총내용량(mL)   216 non-null    object
 9   에너지(㎉)     216 non-null    object
 10  단백질(g)     216 non-null    object
 11  지방(g)      216 non-null    object
 12  탄수화물(g)    216 non-null    object
 13  총 식이섬유(g)  216 non-null    object
 14  콜레스테롤(㎎)   216 non-null    object
dtypes: float64(1), int64(1), object(13)
memory usage: 27.0+ KB

In [9]:
df_category = df[['식품대분류']]

In [10]:
df_cate = df_category.drop_duplicates(['식품대분류']) # 중복 값 제거
df_cate['식품대분류']

0            구이류
18        국 및 탕류
41           볶음류
43            기타
44           튀김류
          ...
30260     탈지농축우유
31351    올리고당가공품
31457       고춧가루
31459      전분가공품
51379    유산균첨가우유
Name: 식품대분류, Length: 179, dtype: object

In [8]:
category = df_cate.values
category = category.tolist()
print(category)
print(len(category))


filePath = './식품대분류.txt'
with open(filePath,'w',encoding='UTF-8') as f:
    for name in category:
        f.write(name[0]+'\n')

NameError: name 'df_cate' is not defined

In [15]:
df_class = df[['식품명','식품대분류']]

In [16]:
df_class.head()

    식품명 식품대분류
0  꿩불고기   구이류
1   닭갈비   구이류
2   닭갈비   구이류
3   닭꼬치   구이류
4  더덕구이   구이류

In [17]:
df_coffee = df_class.loc[(df_class['식품대분류']=='커피')]

In [18]:
coffee = df_coffee['식품명'].to_list()

In [19]:
type(coffee)

list

In [52]:
filePath = './커피.txt'
with open(filePath,'w',encoding='UTF-8') as f:
    for name in coffee:
        f.write(name+'\n')

In [52]:
noEx = []

for c in category:
    df_ex = df_class.loc[(df_class['식품대분류']==c[0])]
    ex = df_ex['식품명'].to_list()

    filePath = './'+c[0]+'.txt'
    try:
        with open(filePath,'w',encoding='UTF-8') as f:
            for name in ex:
                f.write(name+'\n')
    except:
        noEx.append(c[0])

In [29]:
print(noEx)
for n in noEx:
    n.replace('/','_')
print(noEx)

['과/채주스', '과/채음료', '인삼/홍삼음료', '영/유아용 이유식', '과/채가공품', '영/유아용 특수조제식품', '농축과/채즙(또는 과/채분)', '임산/수유부용 식품']

In [51]:
df_ex = df_class.loc[(df_class['식품대분류']=='임산/수유부용 식품')]
ex = df_ex['식품명'].to_list()

filePath = './임산_수유부용 식품.txt'
with open(filePath,'w',encoding='UTF-8') as f:
    for name in ex:
        f.write(name+'\n')

In [12]:
# 식품명 파일 저장
food = df['식품명'].to_list()
filePath = './db_food_name.txt'
with open(filePath,'w',encoding='UTF-8') as f:
    for name in food:
        f.write(name+'\n')