In [9]:
import pandas as pd

df = pd.read_excel("식단예시2차.xlsx",header=0,index_col="Unnamed: 0")
df.head()

,식품명,식품대분류,식품상세분류,1회제공량,에너지(㎉),단백질(g),지방(g),탄수화물(g),총 식이섬유(g),나트륨(㎎),콜레스테롤(㎎),총 포화 지방산(g)
0,닭갈비,구이류,육류구이,400,595.610,45.900,25.800,44.900,11.600,1535.830,193.400,6.000
1,닭갈비,구이류,육류구이,300,558.470,45.500,31.600,23.100,6.600,1016.940,217.670,11.300
2,닭꼬치,구이류,육류구이,70,176.723,11.562,8.565,13.348,2.072,286.911,31.444,2.315
3,돼지갈비,구이류,육류구이,100,240.320,19.500,14.400,8.100,0.300,404.660,49.340,4.700
4,불고기,구이류,육류구이,150,395.290,34.400,25.200,7.800,1.200,560.710,68.850,6.600

df['가중치'] = 1.0

In [10]:
df.head()

,식품명,식품대분류,식품상세분류,1회제공량,에너지(㎉),단백질(g),지방(g),탄수화물(g),총 식이섬유(g),나트륨(㎎),콜레스테롤(㎎),총 포화 지방산(g)
0,닭갈비,구이류,육류구이,400,595.610,45.900,25.800,44.900,11.600,1535.830,193.400,6.000
1,닭갈비,구이류,육류구이,300,558.470,45.500,31.600,23.100,6.600,1016.940,217.670,11.300
2,닭꼬치,구이류,육류구이,70,176.723,11.562,8.565,13.348,2.072,286.911,31.444,2.315
3,돼지갈비,구이류,육류구이,100,240.320,19.500,14.400,8.100,0.300,404.660,49.340,4.700
4,불고기,구이류,육류구이,150,395.290,34.400,25.200,7.800,1.200,560.710,68.850,6.600

In [13]:
W = pd.DataFrame(df['식품상세분류'].unique())
W.head()

           0
0       육류구이
1      어패류구이
2  기타 국 및 탕류
3     채소류국.탕
4     어패류국.탕

In [15]:
W['가중치']= 1.0
W.head()

           0  가중치
0       육류구이  1.0
1      어패류구이  1.0
2  기타 국 및 탕류  1.0
3     채소류국.탕  1.0
4     어패류국.탕  1.0

In [34]:
s_list = W.sample(n=5,weights="가중치")[0].values
s_list

array(['중식면류', '나물.채소류무침', '채소류전', '기타 튀김류', '육류볶음'], dtype=object)

In [28]:
print(W[0])

0             육류구이
1            어패류구이
2        기타 국 및 탕류
3           채소류국.탕
4           어패류국.탕
5            육류국.탕
6               회류
7          육류찌개.전골
8           나물.숙채류
9             중식면류
10             국수류
11           스파게티류
12             라면류
13           어패류무침
14           기타 밥류
15            비빔밥류
16         김밥(초밥)류
17         쌀밥.잡곡밥류
18             덮밥류
19            볶음밥류
20            육류볶음
21           채소류볶음
22           어패류볶음
23             육류전
24            채소류전
25            육류조림
26              죽류
27        어패류찌개.전골
28        채소류찌개.전골
29            어패류찜
30             육류찜
31           채소류튀김
32            육류튀김
33           어패류튀김
34             치킨류
35            채소류찜
36             냉국류
37              김치
38        나물.채소류무침
39             만두류
40      기타 면 및 만두류
41            떡볶이류
42          기타 볶음류
43             샐러드
44       기타 생채.무침류
45         장아찌.절임류
46    기타 전.적 및 부침류
47            어패류전
48           어패류조림
49           채소류조림
50          기타 조림류
51             스프류
52           기타 찜류
53          기타 튀김류
Name: 0, dtype: object

In [44]:
select
#df[df['식품상세분류']=='육류구이'].sample(n=1)

,식품명,식품대분류,식품상세분류,1회제공량,에너지(㎉),단백질(g),지방(g),탄수화물(g),총 식이섬유(g),나트륨(㎎),콜레스테롤(㎎),총 포화 지방산(g)
36,우동(일식),면 및 만두류,중식면류,700,421.514,13.39,7.906,74.199,20.21,2390.321,25.978,1.488
182,콩나물무침,생채및 무침류,나물.채소류무침,50,34.000,1.90,2.300,1.600,0.80,193.590,0.000,0.200
73,호박부침개,전.적 및 부침류,채소류전,100,129.000,3.90,8.100,10.100,1.30,174.330,52.480,1.700
380,김말이튀김,튀김류,기타 튀김류,150,384.000,3.00,23.800,39.700,3.20,481.950,0.000,3.200
254,돼지고기김치볶음,볶음류,육류볶음,230,371.000,27.20,23.100,13.600,4.90,1173.540,80.780,6.900

In [51]:
# 가중치 업데이트 코드 1회
select = pd.DataFrame()
for li in s_list:
    select = select.append(df[df['식품상세분류']==li].sample(n=1))

print(select['식품명'])
answer = int(input("음식번호를 입력해주세요 : "))
W.loc[W[W[0] == df.iloc[answer]['식품상세분류']]['가중치'].index, '가중치'] = W[W[0]==df.iloc[answer]['식품상세분류']]['가중치'].add(W[W[0]==df.iloc[answer]['식품상세분류']]['가중치']/2+1)

C:\Users\User\AppData\Local\Temp/ipykernel_10884/2201920109.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  select = select.append(df[df['식품상세분류']==li].sample(n=1))
C:\Users\User\AppData\Local\Temp/ipykernel_10884/2201920109.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  select = select.append(df[df['식품상세분류']==li].sample(n=1))
C:\Users\User\AppData\Local\Temp/ipykernel_10884/2201920109.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  select = select.append(df[df['식품상세분류']==li].sample(n=1))
C:\Users\User\AppData\Local\Temp/ipykernel_10884/2201920109.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  select = select.append(df[df['식품상세분류']==li].sample(n=1))
C:\Users\User\AppData\Local\Temp/ipykernel_10884/2201920109.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  select = select.append(df[df['식품상세분류']==li].sample(n=1))

34         열무냉면
182       콩나물무침
73        호박부침개
380       김말이튀김
255    돼지고기채소볶음
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 34

In [74]:
W[W[0] == df.iloc[answer]['식품상세분류']]

      0  가중치
9  중식면류  1.0

In [ ]:
print(select['식품명'])
answer = input("음식번호를 입력해주세요 : ")