In [37]:
import math
import warnings
warnings.filterwarnings(action='ignore')

In [1]:
import pandas as pd

df = pd.read_excel("식단예시2차.xlsx",header=0,index_col="Unnamed: 0")
df.head()

,식품명,식품대분류,식품상세분류,1회제공량,에너지(㎉),단백질(g),지방(g),탄수화물(g),총 식이섬유(g),나트륨(㎎),콜레스테롤(㎎),총 포화 지방산(g)
0,닭갈비,구이류,육류구이,400,595.610,45.900,25.800,44.900,11.600,1535.830,193.400,6.000
1,닭갈비,구이류,육류구이,300,558.470,45.500,31.600,23.100,6.600,1016.940,217.670,11.300
2,닭꼬치,구이류,육류구이,70,176.723,11.562,8.565,13.348,2.072,286.911,31.444,2.315
3,돼지갈비,구이류,육류구이,100,240.320,19.500,14.400,8.100,0.300,404.660,49.340,4.700
4,불고기,구이류,육류구이,150,395.290,34.400,25.200,7.800,1.200,560.710,68.850,6.600

s_list = W.sample(n=5,weights="가중치")[0].values
s_list

In [41]:
W = pd.DataFrame(df['식품대분류'].unique())
W['가중치']= 1.0
W.head()

          0  가중치
0       구이류  1.0
1    국 및 탕류  1.0
2        회류  1.0
3  찌개 및 전골류  1.0
4       숙채류  1.0

In [46]:
# 가중치 업데이트 코드 1회
while(len(W[W['가중치']>5])<=3):
    select = pd.DataFrame()
    s_list = W[W['가중치']<6].sample(n=5)[0].values
    for li in s_list:
        select = select.append(df[df['식품대분류']==li].sample(n=1))S

    print(select['식품명'])
    answer = int(input("음식번호를 입력해주세요 : "))
    W.loc[W[W[0] == df.iloc[answer]['식품대분류']]['가중치'].index, '가중치'] = W[W[0]==df.iloc[answer]['식품대분류']]['가중치'].add(math.log2(W[W[0]==df.iloc[answer]['식품대분류']]['가중치'])+0.7)

295      단무지
371     쇠갈비찜
107    치즈돈가스
131      햄구이
329       팥죽
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 131
195      바지락칼국수
155         새우탕
176        총각김치
211       계란볶음밥
256    돼지곱창순대볶음
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 211
110      찐고구마
48       새우초밥
295       단무지
16      소고기무국
355    어묵김치찌개
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 16
178             숙주나물
25              생선물회
316    돼지고기 메추리알 장조림
173              백김치
364           햄 김치찌개
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 316
25      생선물회
301      떡갈비
381      깐풍기
332     김치전골
140    냉이된장국
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 301
172       배추김치
293      고추장아찌
118      돼지불고기
390       치킨너겟
304    스크램블드에그
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 390
76     소고기메추리알장조림
175         오이소박이
277        단호박샐러드
388         소시지튀김
324          쇠고기죽
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 76
346     버섯샤브샤브
143        닭곰탕
5      소양념갈비구이
169        깍두기
311      고등어조림
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 5
174      열무김치
246      콩나물밥
77        게살죽
377    간장양념치킨
124    안심스테이크
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 377
313      달걀장조림
257        떡볶이
5      소양념갈비구이
293      고추장아찌
331        감자탕
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 5
285           오징어무침
209             회냉면
47              비빔밥
304         스크램블드에그
321    쇠고기 메추리알 장조림
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 321
83     두부전골
25     생선물회
329      팥죽
257     떡볶이
177    깻잎나물
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 25
153            사골국
311          고등어조림
43     해물토마토소스스파게티
171            동치미
332           김치전골
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 153
319    메추리알 장조림
292          육회
117      돼지고기산적
170        깻잎김치
323          닭죽
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 292
2        닭꼬치
140    냉이된장국
70       야채전
327      전복죽
178     숙주나물
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 2
292         육회
305       애호박전
370    돼지고기 수육
27         콩나물
325      양송이스프
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 370
27        콩나물
295       단무지
79        참치죽
180     애호박볶음
19     시래기된장국
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 79
90     소갈비찜
98      아구탕
270    제육볶음
329      팥죽
221     볶음밥
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 98
375    해물콩나물찜
25       생선물회
242     참치볶음밥
298     달걀프라이
309      감자조림
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 242
295      단무지
273    햄채소볶음
110     찐고구마
313    달걀장조림
387     새우튀김
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 313
155      새우탕
285    오징어무침
353    순두부찌개
102      닭튀김
92       아구찜
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 102
67      주꾸미볶음
379     고등어튀김
340    돼지고기찌개
28        간자장
171       동치미
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 340
229          순대국밥
104          생선까스
344    두부쇠고기고추장찌개
71             파전
37            자장면
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 37
109     찐감자
243    치즈김밥
283    부추무침
77      게살죽
176    총각김치
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 283
255    돼지고기채소볶음
177        깻잎나물
248         현미밥
323          닭죽
146        메밀묵국
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 323
170      깻잎김치
36     우동(일식)
44      골뱅이무침
226     쇠고기김밥
78     소고기버섯죽
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 44
179       시금치나물
275       과일샐러드
192        메밀국수
25         생선물회
262    쇠고기고추장볶음
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 262
392    후라이드치킨
82       꽁치찌개
327       전복죽
252      낙지볶음
173       백김치
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 392
85      소곱창전골
177      깻잎나물
305      애호박전
329        팥죽
137    김치콩나물국
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 85
134          감잣국
169          깍두기
68     동그랑땡(육원전)
295          단무지
374           족발
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 374
175    오이소박이
25      생선물회
211    계란볶음밥
327      전복죽
185      군만두
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 185
190        막국수
215       낙지덮밥
178       숙주나물
293      고추장아찌
304    스크램블드에그
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 215
63        두부김치
153        사골국
299    돼지고기완자전
190        막국수
171        동치미
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 153
276    낙지무침
338    동태찌개
27      콩나물
302     부추전
329      팥죽
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 302
40     토마토소스스파게티
292           육회
294        깻잎장아찌
169          깍두기
304      스크램블드에그
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 292
27           콩나물
68     동그랑땡(육원전)
258          라볶이
205           짬뽕
330          호박죽
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 68
276     낙지무침
92       아구찜
298    달걀프라이
226    쇠고기김밥
176     총각김치
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 92
25      생선물회
331      감자탕
239      짬뽕밥
289    참치샐러드
367      달걀찜
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 289
293    고추장아찌
281      무생채
79       참치죽
332     김치전골
91       순대
Name: 식품명, dtype: object
음식번호를 입력해주세요 : 91

In [47]:
W

            0       가중치
0         구이류  7.110566
1      국 및 탕류  7.110566
2          회류  4.455106
3    찌개 및 전골류  2.584963
4         숙채류  1.000000
5     면 및 만두류  2.584963
6     생채및 무침류  4.455106
7          밥류  4.455106
8         볶음류  1.500000
9   전.적 및 부침류  4.455106
10        조림류  7.110566
11    죽 및 스프류  2.584963
12         찜류  7.110566
13        튀김류  7.110566
14        김치류  1.000000
15  장아찌 및 절임류  1.000000

In [45]:
math.log2(W[W[0]==df.iloc[answer]['식품대분류']]['가중치'])+0.5

0.0

In [31]:
W[W[0]==df.iloc[answer]['식품대분류']]['가중치'].values[0]

8.125

In [21]:
W.loc[W[W[0] == df.iloc[answer]['식품대분류']]['가중치'].index, '가중치'] = W[W[0]==df.iloc[answer]['식품대분류']]['가중치']

In [19]:
len(s_list)

5

In [14]:
df.iloc[answer]['식품대분류']

'튀김류'

In [ ]:
for li in s_list:
    select = select.append(df[df['식품대분류']==li].sample(n=1))

In [17]:
W.sample(n=3, weights="가중치")

            0      가중치
8         볶음류  13.1875
9   전.적 및 부침류   4.7500
12         찜류   4.7500