In [20]:
data_records = [{"xmin":104.2898788452,"ymin":1206.0611572266,"xmax":625.9426269531,"ymax":1475.1000976562,"confidence":0.9130751491,"class":16,"name":"dog"},{"xmin":834.5873413086,"ymin":726.6124267578,"xmax":1241.7209472656,"ymax":1644.1550292969,"confidence":0.8895811439,"class":0,"name":"person"}]

In [2]:
data_records

[{'xmin': 104.2898788452,
  'ymin': 1206.0611572266,
  'xmax': 625.9426269531,
  'ymax': 1475.1000976562,
  'confidence': 0.9130751491,
  'class': 16,
  'name': 'dog'},
 {'xmin': 834.5873413086,
  'ymin': 726.6124267578,
  'xmax': 1241.7209472656,
  'ymax': 1644.1550292969,
  'confidence': 0.8895811439,
  'class': 0,
  'name': 'person'}]

In [3]:
type(data)

list

In [4]:
type(data[0])

dict

In [5]:
data[0]['name']

'dog'

In [21]:
data_name =[]
for dn in data_records:
    data_name = data_records.values()

AttributeError: 'list' object has no attribute 'values'

In [9]:
data_name=[]
for n in data:
    data_name.append(n['name'])

In [10]:
data_name

['dog', 'person']

In [12]:
import json

data_class = [ e["name"] for e in json.loads(data) ]

TypeError: the JSON object must be str, bytes or bytearray, not list

In [48]:
data_columns = {"xmin":{"0":104.2898788452,"1":834.5873413086},"ymin":{"0":1206.0611572266,"1":726.6124267578},"xmax":{"0":625.9426269531,"1":1241.7209472656},"ymax":{"0":1475.1000976562,"1":1644.1550292969},"confidence":{"0":0.9130751491,"1":0.8895811439},"class":{"0":16,"1":0},"name":{"0":"dog","1":"person"}}

In [51]:
import pandas as pd
df = pd.DataFrame(data_columns)

In [52]:
df

,xmin,ymin,xmax,ymax,confidence,class,name
0,104.289879,1206.061157,625.942627,1475.100098,0.913075,16,dog
1,834.587341,726.612427,1241.720947,1644.155029,0.889581,0,person

In [53]:
data_name = df["name"]

In [54]:
data_name

0       dog
1    person
Name: name, dtype: object

In [55]:
data_name =list(data_name)

In [56]:
data_name

['dog', 'person']

In [57]:
type(data_name)

list

In [45]:
type(data_columns)
json_data = json.loads(data_columns)

TypeError: the JSON object must be str, bytes or bytearray, not dict

In [24]:
data_name = []

In [41]:
data_values = data_columns.values()

In [42]:
data_name = list(data_values)

In [43]:
type(data_name)

list

In [44]:
data_name

[{'0': 104.2898788452, '1': 834.5873413086},
 {'0': 1206.0611572266, '1': 726.6124267578},
 {'0': 625.9426269531, '1': 1241.7209472656},
 {'0': 1475.1000976562, '1': 1644.1550292969},
 {'0': 0.9130751491, '1': 0.8895811439},
 {'0': 16, '1': 0},
 {'0': 'dog', '1': 'person'}]